<ifmodule mod_rewrite.c>
  rewriteengine on rewritebase /subdirectory rewriterule ^index\.html$ - [l]
  rewritecond %{request_filename} !-f rewritecond %{request_filename} !-d
  rewritecond %{request_filename} !-l rewriterule . /index.html [l]
</ifmodule>
